/* .App {
  text-align: center;
} */

.buttonBox{
  display: flex;
  flex-direction: row;
/* justify-content: center; */
gap: 5px;
cursor: pointer;
color: rgb(160, 84, 84);
font-size: 12px;
}

.container{
  margin: 50px;
}

.timestamp {
  color:rgb(173, 168, 168);
  font-size: 12px;
}

.body {
  font-size: 18px;
  font-weight: 500;
}